<div>
<table>
    <thead>
        <tr>
            <th colspan="2">{{userData.name}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="tulajdonsag">ID</td>
            <td>{{userData.id}}</td>
        </tr>
        <tr>
            <td class="tulajdonsag">Username</td>
            <td>{{userData.username}}</td>
        </tr>
        <tr>
            <td class="tulajdonsag">e-mail</td>
            <td>{{userData.email}}</td>
        </tr>
        <tr>
            <td class="tulajdonsag">Address</td>
            <td><pre>CITY: </pre>{{userData.address.city}}
                <pre>STREET: </pre>{{userData.address.street}}
                <pre>SUITE: </pre>{{userData.address.suite}}
                <pre>ZIP: </pre>{{userData.address.zipcode}}
                <pre>GEO: </pre>{{userData.address.geo.lat}}, {{userData.address.geo.lng}}
            </td>
        </tr>
        <tr>
            <td class="tulajdonsag">Phone</td>
            <td>{{userData.phone}}</td>
        </tr>
        <tr>
            <td class="tulajdonsag">Website</td>
            <td>{{userData.website}}</td>
        </tr>
        <tr>
            <td class="tulajdonsag">Company</td>
            <td><pre>NAME: </pre>{{userData.company.name}}
                <pre>PHRASE: </pre>{{userData.company.catchPhrase}}
                <pre>BS: </pre>{{userData.company.bs}}
            </td>
        </tr>
    </tbody>
</table>
</div>